body {
    margin: 0;
    background-color: blanchedalmond;
    box-sizing: border-box;
}

#all {
    width: 100vw;
    height: 100vh;
    background-color: burlywood;
    box-sizing: border-box;
    display: flex;

}

.nav {
    width: 20%;
    height: 100%;
    background-color: white;
    
}

.logo {
    width: 50%;
    height: 15%;
    margin: 25%;
    background-image: url("https://cdn.pixabay.com/photo/2017/10/06/22/34/lightbulb-2824863_960_720.png");
    background-size: cover;
    background-position: center;
}

 ul {
    background-color: #ffad60;
    list-style-type: none;
    font-size: 300%;
   
    
}

ul li a {
    text-decoration: none;
    color: red;
    display: block;
    text-align: center;
    padding: 15%;

}

.nav .mark ul li a:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}


#main {
    width: 80%;
    height: 100%;
    background-color: #d9534f;
    display: flex;
    align-items: center;
    justify-content: center;

}

#photo {
    width: 80%;
    height: 80%;
    background-color: white;
    display: flex;


}

#main #photo #photo1:hover {
    opacity: 1;
    width: 50%;
    transition: 1s;
}

#main #photo #photo2:hover {
    opacity: 1;
    width: 50%;
    transition: 1s;
}

#main #photo #photo3:hover {
    opacity: 1;
    width: 50%;
    transition: 1s;
}

#photo1 {
    width: 34%;
    height: 100%;
    background-color: aqua;
    background-image: url("https://images.freeimages.com/images/large-previews/c64/interior-view-1558829.jpg");
    background-size: cover;
    opacity: 0.7;
}

#photo2 {
    width: 33%;
    height: 100%;
    background-color: peru;
    background-image: url("https://images.freeimages.com/images/large-previews/eef/wrinkle-in-time-1490483.jpg");
    background-size: cover;
    opacity: 0.7;
}

#photo3 {
    width: 33%;
    height: 100%;
    background-color: darkkhaki;
    background-image: url("https://images.freeimages.com/images/large-previews/db9/pocket-watch-1-1470859.jpg");
    background-size: cover;
    opacity: 0.7;
}

@media screen and (max-width: 1280px) {
    #photo {
        width: 80%;
        height: 80%;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
    }

    #photo1 {
        width: 100%;
        height: 50%;
        background-position: center;
    }

    #photo2 {
        width: 50%;
        height: 50%;
        background-position: center;
    }

    #photo3 {
        width: 50%;
        height: 50%;
        background-position: center;
    }

    #main #photo #photo1:hover {
        opacity: 1;
        transform: scale(1.1, 1.05);
        width: 100%;
        transition: 1s;
    }

    #main #photo #photo2:hover {
        opacity: 1;
        transform: scale(1.1, 1.05);
        transition: 1s;
    }

    #main #photo #photo3:hover {
        opacity: 1;
        transform: scale(1.1, 1.05);
        transition: 1s;
    }

    @media screen and (max-width: 800px) {
        #all {
            width: 100vw;
            height: 100vh;
            background-color: burlywood;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
        }

        .nav {
            width: 100%;
            height: 15%;
            background-color: white;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        .logo {
            width: 10%;
            height: 55%;
            margin: 5%;
        }

        ul {
            background-color: #ffad60;
            list-style-type: none;
            font-size: 200%;
            font-family: 標楷體;
            display: flex;
        }

        ul li a {
            text-decoration: none;
            color: red;
            display: inline-block;
            text-align: center;
            width: 50%;
        }

        .nav .mark ul li a:hover {
            background-color: black;
            color: white;
            transition: 0.5s;
        }

        #main {
            width: 100%;
            height: 100%;
            background-color: #d9534f;
        }

        #photo1 {
            width: 100%;
            height: 50%;
        }

        #photo2 {
            width: 50%;
            height: 50%;
        }

        #photo3 {
            width: 50%;
            height: 50%;
        }
    }

    @media screen and (max-width: 375px) {
        #all {
            width: 100%;
            height: 100%;
            background-color: burlywood;
        }

        .nav {
            width: 100%;
            height: 8%;
            background-color: rgb(245, 176, 210);
            position: relative;
            display: flex;
        }

        .logo {
            width: 50px;
            height: 50px;
            margin: 5% 28%;
            background-image: url("https://cdn.pixabay.com/photo/2017/10/06/22/34/lightbulb-2824863_960_720.png");
            background-size: cover;
            background-position: center;
            order: 1;
        }

        .mark {
            width: 30px;
            height: 30px;
            background-color: aquamarine;
            margin: 5% 3%;
            display: flex;
            flex-direction: column;
            

        }
       ul{
            display: none;
            font-size: 100%;
        }

        
        ul li a {
            text-decoration: none;
            color: red;
            display: block;
            text-align: center;
            padding: 15%;
        
        }

        .btn{
            width: 70px;
            height: 50px;
            display: none;
            z-index: 10;
            
        }
        .mark:hover .btn {
            background-color: wheat;
            display: flex;
            position: absolute;
            

        }

        #main {
            width: 100%;
            height: 90vh;
            background-color: #d9534f;
        }

        #photo {
            width: 100%;
            height: 100%;
            background-color: white;
            display: flex;
        }

        #photo1 {
            width: 100%;
            height: 34%;
        }

        #photo2 {
            width: 100%;
            height: 33%;
        }

        #photo3 {
            width: 100%;
            height: 33%;
            background-position: center;
        }

        #main #photo #photo1:hover {
            opacity: 1;
            width: 100%;
            transform: scale(1.1, 1.05);
            transition: 1s;
        }

        #main #photo #photo2:hover {
            opacity: 1;
            width: 100%;
            transform: scale(1.1, 1.05);
            transition: 1s;
        }

        #main #photo #photo3:hover {
            opacity: 1;
            width: 100%;
            transform: scale(1.1, 1.05);
            transition: 1s;
        }
    }
}